.history
*.pyc
*.pt
nlp_config.json
rasa/.rasa/cache
.DS_Store
.vscode/settings.json
client/nlp_client.egg-info
*config
*.wav
.env
.DS_Store
stt/temp.wav
rasa/.rasa
__pycache__
*.egg-info
config.py
.DS_Store
socketconfig_MacOS_root.yaml
socketconfig_Linux_eic.yaml
.DS_Store
socketconfig_Linux_eic.yaml
socketconfig_Linux_nitro20.yaml
socketconfig_MacOS_root.yaml
socketconfig_MacOS_root.yaml
socketconfig_Linux_scar15.yaml
test.py
test_stt.py

# Exclude Rasa models and cache
.rasa
rasa/models
*tar.gz
