
# Unsure
# scipy
# # actions
# wheel
# sanic
# tqdm
# more-itertools
# # click
# pydub
# torch
# flask
# noisereduce
# transformers==4.21.0
# ffmpeg-python==0.2.0
# pyttsx3==2.90

# Verified
simpleaudio==1.0.4
pykwalify==1.7.0 # for rasa
requests==2.26.0 # for speech recog
ruamel.yaml==0.17.28

#>>>>>>>>>>>>CORE>>>>>>>>>>>>

## General
flask==2.3.2
chardet==3.0.2
cchardet==2.1.7
## For the setupapp
prettytable==3.8.0

## stt requirements
noisereduce==2.0.1
pydub==0.25.1
SpeechRecognition==3.10
# troublemaker
# pyaudio==0.2.13
numba==0.57.1
numpy==1.23.5

## Text-To-Speech requirements
azure-cognitiveservices-speech==1.30.0 #tts online
# mycroft-mimic3-tts[all]
mycroft-mimic3-tts

## Rasa stuff
rasa==3.6.13
fbmessenger==6.0.0
SQLAlchemy==1.4.49

## Porcupine Wakeword requirements
pvporcupine==2.2.1
# pvrecorder==1.2.0
# dotenv

# Most important, change will cause build error due to deprecation
PyYAML==5.3.1
packaging==21.0
setuptools==58.2.0
openai
Werkzeug==2.3.3 # Overwrite the mimic default

## Lots of problems
git+https://github.com/openai/whisper.git
# ratfin @ git+https://github.com/GameTL/ratfingers@pytoml

#<<<<<<<<<<<<CORE<<<<<<<<<<<<

## Last hope
# conda install pyaudio
# pip install git+https://github.com/GameTL/ratfingers.git --use-pep517